.overlay {
    position: absolute;
}

.title {
    background-color: black;
    font-size: 4rem;
    text-shadow:0 0 20px #ff0;
}

.subtitle {
    background-color: black;
    font-size: 2rem;
    text-shadow:0 0 20px #ff0;
}

.work-thumbnail {
    overflow: hidden;
    position: relative;
}

.work-img {
    object-fit: cover;
    height: 240px;
}

.work-title {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    opacity: 0;
    background-color: rgb(238, 108, 77, 0.8);
    transform: translateY(70px);
    transition: all 0.2s ease-in-out;
}

.work-thumbnail:hover .work-title {
    transform: translateY(0px);
    opacity: 1;
}


.skill-thumbnail {
    overflow: hidden;
    position: relative;
}

.skill-img {
    object-fit: cover;
    height: 240px;
}

.skill-title {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    opacity: 0;
    background-color: rgb(238, 108, 77, 0.8);
    transform: translateY(70px);
    transition: all 0.2s ease-in-out;
}

.skill-thumbnail:hover .skill-title {
    transform: translateY(0px);
    opacity: 1;
}

