{% extends 'app/base.html' %}

{% block content %}

<div class="row mb-5">
    {% for work in work_data %}
        <div class="col-6 col-md-3 mb-3">
            <div class="card work-thumbnail">
                {% if work.thumbnail %}
                    <img src="{{ work.thumbnail.url }}" alt="" , clsas="work-img">
                {% else %}
                    <img src="{{ work.image.url }}" alt="" , clsas="work-img">
                {% endif %}
                <div class="work-title text-center">
                    <p class="mb-0">
                        {{ work.title }}
                    </p>
                </div>
                <a href="{% url 'detail' work.id %}" class="stretched-link work"></a>
            </div>
        </div>
    {% endfor %}
</div>

<div class="mb-5">
    {% for experience in experience_data %}
        <hr>
        <div class="d-flex justify-content-between">
            <h5>{{ experience.skill_name }}</h5>
        </div>
        <p class="mb-1">{{ experience.urll }}</p>
        <p>{{ experience.description | linebreaksbr }}</p>
        <p>{{ experience.goodBad | linebreaksbr }}</p>
        <p>{{ experience.aim | linebreaksbr }}</p>
        <hr>
    {% endfor %}
</div>

<a class="postNew mb-3" href="{% url 'indexHome'　%}"><button type="button" class="btn btn-info">BACK</button></a>

{% endblock %}